/**** begin components style ****/
section .card.card-result {
    border-radius: 50px;
}
section .card.card-result .card-body {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 50px;
}
section .card.card-result .card-body .card-title {
    font-size: 14px;
}
section .card.card-result .card-body .result-date {
    position: relative;
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0 3px 10px rgb(0 0 0 / 80%);
    text-align: center;
}
section .card.card-result .card-body .result-number {
    position: relative;
    line-height: normal;
    text-align: center;
}
section .card.card-result .card-body .result-number .digit {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--color-9);
    color: var(--color-1);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
section .card.card-result .card-body .result-number .digit:last-child {
    margin-right: 0;
}

section .card.card-content,
section .card.card-content .card-body {
    border-radius: 25px;
}
section .card.card-content .card-body {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
section .card.card-content .card-body .table {
    border-radius: 25px;
}
section .card.card-content .card-body .table thead,
section .card.card-content .card-body .table thead tr:first-child {
    border-radius: 25px 25px;
}
section .card.card-content .card-body .table thead tr:first-child th:nth-child(3) {
    border-radius: 25px 0 0 0;
}
section .card.card-content .card-body .table thead tr:first-child th:last-child {
    border-radius: 0 25px 0 0;
}
section .card.card-content .card-body .result-number {
    position: relative;
    line-height: normal;
    text-align: center;
}
section .card.card-content .card-body .result-number .digit {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--color-9);
    color: var(--color-1);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
section .card.card-content .card-body .result-number .digit:last-child {
    margin-right: 0;
}

section .card.card-prediksi {
    border-radius: 12px;
}
section .card.card-prediksi .card-header {
    border-radius: 12px 12px 0 0;
}
section .card.card-prediksi .card-body {
    border-radius: 0;
}
section .card.card-prediksi .card-footer {
    border-radius: 0 0 12px 12px;
}

section .card.card-game {
    border-radius: 25px;
    width: 100%;
    margin: 0 auto;
}
section .card.card-game .card-img-top {
    border-radius: 25px;
}
section .card.card-game .card-body {
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
section .card.card-game .card-body.show {
    display: flex;
}
section .card.card-game .card-body .btn {
    border-radius: 25px;
    padding: 5px 20px;
}
section .card.card-game .percent{
    height: 27px;
    display: flex;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border-radius: 25px;
}
section .card.card-game .percent p{
    z-index: 15;    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    line-height: 27px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
section .card.card-game .percent-bar{
    /* background-color: #ffc107; */
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    border-radius: 25px 0 0 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    /* background-color: #007bff; */
    transition: width .6s ease;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    /* animation: ; */
    z-index: 10;
}

section .card.card-list-provider {
    border-radius: 12px;
}
section .card.card-list-provider .card-body {
    border-radius: 8px;
}

section .card.card-provider,
section .card.card-provider .card-body {
    border-radius: 12px;
}
section .card.card-provider .card-body {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
section .card.card-provider .card-body img.provider-thumbnail {
    display: block;
    margin: 0 auto;
    height: 50px;
    max-height: 50px;
    width: auto;
}

@media (min-width: 993px) {
    section .card.card-content .card-body .table thead tr:first-child th:first-child {
        border-radius: 25px 0 0 0;
    }
    section .card.card-content .card-body .table thead tr:first-child th:nth-child(3) {
        border-radius: 0;
    }

    /* show 4 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        display: block;
        margin-right: 0;
    }
  
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
  
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
  
    /* farthest right hidden item must be absolue position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
  
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
    }
}
/**** endof components style ****/